# Credenciales de Supabase (Obténlas gratis en https://supabase.com -> Project Settings -> API)
NEXT_PUBLIC_SUPABASE_URL=https://placeholder-tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=placeholder-tu-clave-anonima-publica

# Datos de Contacto de la Empresa
NEXT_PUBLIC_COMPANY_WHATSAPP=51987654321
NEXT_PUBLIC_COMPANY_EMAIL=contacto@mednova.com
