@import "tailwindcss";

:root {
  --font-primary: var(--font-ibm-plex-mono), monospace;
  --font-secondary: var(--font-space-grotesk), sans-serif;

  --neutral-100: #f2f2f2;
  --neutral-200: #e8ebeb;
  --neutral-300: #9bacae;
  --neutral-400: #71797a;
  --neutral-500: #494f52;
  --neutral-600: #17181a;

  --border-style: 1px dashed var(--neutral-300);
}

body {
  font-family: var(--font-primary);
  background-color: var(--neutral-100);
  color: var(--neutral-600);
  line-height: 1.34;
}

.font-heading {
  font-family: var(--font-secondary);
}

.font-mono-tech {
  font-family: var(--font-primary);
}

/* Marquee / Ticker Animation */
@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-ticker {
  display: flex;
  width: max-content;
  animation: ticker 35s linear infinite;
}

.animate-ticker:hover {
  animation-play-state: paused;
}
